.hidden-comments-heading {
  font-style: italic;
  margin-bottom: 20px;
}

.hidden-comments-heading a {
  float: right;
  font-style: normal;
}

.hidden-comment-note {
  color: #d00;
  font-style: italic;
}

.hide-comments-link {
  float: right;
}

.hidden-comment {
  border: 1px dotted #f00;
  padding: 6px;
}
